body {
    background-image: url(https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg);
    background-size: contain;
    background-repeat: repeat;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-top: 10px;
}


section article{
    width: 300px;
    height: 490px;
    background-color: #819484e5;
    border: 4px dashed #ddd;
    border-radius: 40px;
    margin: 20px;
}
section p{
    box-sizing: border-box;
    margin: auto;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

section img{
    box-sizing: border-box;
    border: 1px groove #ddd;
    border-radius: 13%;
    width: 100%;
    position: static;
    margin: auto;
    padding: 0;
}

.hastag {
    color: rgb(127, 255, 212);
    margin-top: 5px;
}
.hastag:hover{
    color: rgba(127, 255, 212, 0.603);
    cursor: pointer;
}
