h1 {
    background-color: green;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 2%;
}
table{
    border: 2px ridge;
    border-radius: 10px;
    border-bottom-width: 20px;
    padding: 10px;
    margin-left: 200px;
    
}

th {
    color: black;
}

tr{
    color: black;
}

div {
    padding-left: 400px;
}

.libertadores {
    color: green;
}

.copaSulAmericana {
    color: orange;
}

.rebaixamento {
    color: red;
}

* {
    padding: 0;
    margin: 0;
}
