*{
    margin: 0;
    padding: 0;
}

h1 {
    background-color: green;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 2%;
}

.my-table {
    text-align: center;
    border: 2px ridge;
    /*border-collapse: collapse; *//*Com o collapse o radius não tem efeito*/
    border-radius: 10px;
    border-bottom-width: 20px;
    margin: auto;
    
}

.margem {
    padding: 0;
    margin: 0;
}

.my-table th {
    color: black;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
}


.my-table td {
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    padding: 5px;
    
}

div {
    text-align: center;
}

ul li {
    display: inline;
    padding: 5px;
    font-size: 15px;
}

ul li::before{
    content: "⬤";
    padding-right: 5px;
}


.libertadores {
    color: green;
}

.copaSulAmericana {
    color: orange;
}

.rebaixamento {
    color: red;
}

.imagem {
    width: 30%;
    padding: 0;
    margin: 0;
    
}
